#event_content.watermarkBox { background-image: url(../img/watermark.png); background-position: -5px 0; background-repeat: repeat-y; border-color: #fd6892; }
#event_content h3.withEventIcon { background:transparent url(../img/medium.png) center left no-repeat; }

#event_OphTrOperationnote .ElementCataract .left .halfHeight .eventDetail { margin-left: 320px; }
#event_OphTrOperationnote .ElementCataract .right .halfHeight .eventDetail { width: 110px !important; }
#event_OphTrOperationnote .ElementBuckle .halfHeight .eventDetail { margin-left: 535px; }
#event_OphTrOperationnote .ElementCataract .eventDetail .label { background: none !important; }
#event_OphTrOperationnote .ElementBuckle .eventDetail .label { background: none !important; }
#event_OphTrOperationnote .ElementVitrectomy .halfHeight { margin-left: 575px; }

#ed_canvas_edit_Cataract { background-color: #fff; border: 1px solid #000; margin-left: 9px; }
#ed_canvas_edit_Position { background-color: #DAE6F1; margin-left: 89px; margin-top: -115px; }
#ed_canvas_edit_Buckle { background-color: #fff; border: 1px solid #000; margin-left: 9px; }
#ed_canvas_view_Buckle { margin-top: -25px; }

#div_ElementCataract_incision_site_id { margin-top: 150px; }
#div_ElementCataract_vision_blue { padding-bottom: 7px !important; }
#div_ElementCataract_iol_position_id .label { float: none !important; display: block !important; font-size:15px !important; padding-bottom: 4px !important; }
#div_ElementCataract_Complications .label { float: none !important; display: block !important; font-size:15px !important; padding-bottom: 4px !important; }
#div_ElementCataract_Complications ul.MultiSelectList { width: 185px; }
#div_ElementCataract_Devices ul.MultiSelectList { width: 230px; }
#div_ElementVitrectomy_comments { display: inline-block; }

#div_ElementBuckle_drainage_type_id { margin-bottom: 10px; }

#ed_canvas_edit_Vitrectomy { background: #fff; border: 1px solid #000; margin-left: 10px; }
#ed_canvas_view_Vitrectomy { margin-top: -26px; }

#div_ElementSurgeon { padding-bottom: 28px !important; }
#div_ElementSurgeon_supervising_surgeon_id > .label { font-size: 13px !important; }

div.ElementComments { background-color: #DAE6F1; height: 200px; }
div.ElementComments > h4 { background-color: #fff; margin-bottom: 5px !important; padding-bottom: 5px !important; }

#div_ElementComments_comments { display: inline-block; }
#div_ElementComments_postop_instructions_TextSelection { display: inline-block; float: right; margin-right: 155px; }
#div_ElementComments_postop_instructions { display: inline-block; float: right; margin-right: 35px; }

#ElementComments_postop_instructions { display: block; }

#div_ElementPersonnel { padding-bottom: 25px !important; }
#div_ElementPersonnel_operating_department_practitioner_id { padding-bottom: 28px !important; }

input.widgetSlider { width: 300px !important; }
